#root {
  min-width: 50vw;
  text-align: center;
}

form {
  width: 100%;
  height: 100%;
  padding: 50px;
  border-radius: 20px;
  border: 1px solid #fff;
  margin-left: -30px;
}

input:last-of-type {
  margin-bottom: 25px;
}

.error-text {
  color: rgb(255, 66, 66);
}

 input,
 textarea {
  display: block;
  width: 97%;
  padding: 0.5rem 0.5rem;
  font: inherit;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: none;
}

 input:focus,
 textarea:focus {
  outline: none;
  border-color: #ccc;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
